
h1{
    font-size: 4em; 
    letter-spacing: -2px;
    border-bottom: 2px solid black;
    color: white;
    display:flex;  
    justify-content: center;
     
}

p{
    display: flex; 
    color: white;
    justify-content: flex-end;
    padding-right: 10px;   
}
#search{
    display: flex; 
    justify-content: flex-end; 
    border-radius: 10px;
    border: none; 
    background-color: rgb(171, 238, 171);
    padding: 5px;
    margin: -5px 5px;    
}

label{
    color: white;
    display: flex; 
    justify-content: flex-end;
}

ul{
    display: flex; 
    list-style-type: none;
    justify-content: flex-end;
}

a{
    color: rgb(0, 131, 238);
    padding: 5px; 
    font-size: 15px;  
}
    
