<router-outlet></router-outlet>
<form action="">
  <label for="movie-filter">Movie Filter: </label>
  <select
    name="movieSelect"
    id="movie-filter"
    (change)="onOptionsSelected($event)"
  >
  <option value="">Choose a filter</option>
    <option value="genre">Genre</option>
    <option value="popularity">Popularity</option>
    <option value="release">Release Date</option>
  </select>

  <div *ngIf="genreShow">
    <label for="movie-genre">Select a genre:</label>
    <select
      name="genreSelect"
      id="movie-genre"
      (change)="onGenreSelected($event)"
    >
    <option value="">Choose a Genre</option>
    <option value="35">Comedy</option>
      <option value="18">Drama</option>
      <option value="878">Sci Fi</option>
    </select>

  </div>

  <div *ngIf="popularityShow">
    <label for="movie-popularity">How do you want to see it? </label>
    <select
      name="popularitySelect"
      id="movie-popularity"
      (change)="onPopularitySelected($event)"
    >
    <option value="">Choose Your Poison</option>
    <option value="high">High-to-Low</option>
      <option value="low">Low-to-high</option>

    </select>

  </div>

  <div *ngIf="releaseShow">
    <label for="movie-release">How do you want to see it? </label>
    <select
      name="releaseSelect"
      id="movie-release"
      (change)="onReleaseSelected($event)"
    >
    <option value="">Choose Your Poison</option>
    <option value="high">Latest</option>
      <option value="low">Oldest</option>

    </select>

  </div>
</form>

<h2>Your Movies</h2>
<div *ngIf="moviesDisplay" class="movie-card">
  <div *ngFor="let item of movieApiService.movies" id="firstDivMovies" class="movie-card" >
    {{ item.title }}
    <p *ngIf="popularityDisplay"> Average Rating: {{item.vote_average}}</p>
    <p *ngIf="releaseDisplay">Release Date: {{item.release_date | date}}</p>
    <!-- <p>{{ item.genre_ids }}</p> -->
    <img [src]="item.poster_path" alt="" />
    <button class="add"(click)= "favorite(item)">Add to Favorites</button> 
    <button (click)="selectMovie(item)">Select Movie</button>
  </div>
</div>

<div *ngIf="genreDisplay" class="movie-card">

  <div *ngFor="let item of theseMovies" id="secondDivMovies" class="movie-card" >
    {{ item.title }}
    <p *ngIf="popularityDisplay"> Average Rating: {{item.vote_average}}</p>
    <p *ngIf="releaseDisplay">Release Date: {{item.release_date | date}}</p>
    <!-- <p>{{ item.genre_ids }}</p> -->
    <img [src]="item.poster_path" alt="" />
    <button class="add"(click)= "favorite(item)">Add to Favorites</button>     
    <button (click)="selectMovie(item)">Select Movie</button>
  </div>
</div>

<app-selected-movie [movie]="selectedMovie"></app-selected-movie>


